.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}
.list-item-container {
  list-style-type: none;
  border-radius: 5px;
  border: 1px solid #94a3b8;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .list-item-container {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
    max-width: 280px;
  }
}
.list-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.initial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  margin-right: 0px;
}
.initial-label {
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 22px;
  color: white;
}
.description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px;
  margin-left: 10px;
}
.website,
.username,
.password {
  margin: 0px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 5px;
  color: white;
}
.delete-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.delete-icon {
  width: 24px;
  height: 24px;
}
.Star-img {
  width: 120px;
}
