.app-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #9ba9eb;
}
.app-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.responsive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  max-width: 550px;
  background-color: #5763a5;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .responsive-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1100px;
  }
}
.password-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.password-manager-img {
  width: 400px;
  order: 1;
}
@media screen and (min-width: 768px) {
  .password-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .password-manager-img {
    width: 450px;
    order: 2;
  }
}
.form {
  display: flex;
  flex-direction: column;
  background-color: #454f84;
  padding: 25px 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 450px;
  order: 2;
}
@media screen and (min-width: 768px) {
  .form {
    order: 1;
  }
}

.input-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 25px;
  padding: 8px 10px;
  background-color: #f8fafc;
  border-radius: 4px;
  max-width: 450px;
}

.input-icon {
  width: 22px;
  height: 22px;
}
.input-field {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 18px;
  border: none;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  outline: none;
}
.button-container {
  display: flex;
  justify-content: flex-end;
}
.add-button {
  align-self: flex-start;
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
}
.password-manager-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  max-width: 550px;
  background-color: #5763a5;
  border-radius: 12px;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .password-manager-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1100px;
  }
}
.PM-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .PM-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.password-manager-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-family: 'Roboto';
  font-size: 24px;
  color: #f8fafc;
  font-weight: 500;
}
.heading-PM {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.password-count {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto';
  border-radius: 15px;
  padding: 0px 12px;
  margin-left: 6px;
  margin-right: 6px;
  width: 37px;
  border: 1px solid white;
}
@media screen and (min-width: 768px) {
  .heading-PM {
    font-size: 20px;
  }
  .password-count {
    font-size: 16px;
  }
}
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(210, 40%, 98%);
  padding-left: 10px;
}
.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.search-input {
  height: 25px;
  border: none;
  outline: none;
  padding: 10px 8px;
  border-left: 1px solid #b6c3ca;
}
hr {
  color: #7683cb;
  width: 100%;
}
.show-password-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}
.checkbox {
  width: 20px;
  height: 20px;
}
.ShowPassword-label {
  font-family: 'Roboto';
  font-weight: 500;
  color: white;
  margin-left: 5px;
}
.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .list-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.No-password-container {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.no-psd-img {
  width: 350px;
}

.no-passwords-title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
  color: white;
}
